<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmvPwndW9kRBk-R_oL8q-SmdM9EohJPz4</string>
	<key>GCM_SENDER_ID</key>
	<string>206350062259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ooladejo.ConnectX</string>
	<key>PROJECT_ID</key>
	<string>connectx-84de5</string>
	<key>STORAGE_BUCKET</key>
	<string>connectx-84de5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206350062259:ios:7ba20ff9696264129016c6</string>
</dict>
</plist>